<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            Admin Page for Agensi Kerja Malaysia
        </span>
            <button mat-raised-button color="accent" routerLink="/" class="logout-btn">Log Out</button>      
    </mat-toolbar-row>
</mat-toolbar>
<div>
    <br>
    <mat-card>
        <button mat-raised-button color="basic" routerLink="/create">Create new Vacancy</button>
        <br><br>
        <mat-divider></mat-divider>
        <br>
        <table mat-table [dataSource]="vacancies">
            <ng-container matColumnDef="jobId">
                <th mat-header-cell *matHeaderCellDef>Job Id</th>
                <td mat-cell *matCellDef="let element"> {{element.jobId}} </td>
            </ng-container>
            <ng-container matColumnDef="jobTitle">
                <th mat-header-cell *matHeaderCellDef>Job Title</th>
                <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
            </ng-container>
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef>Company</th>
                <td mat-cell *matCellDef="let element"> {{element.company}} </td>
              </ng-container>
              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>State</th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
              </ng-container>
              <ng-container matColumnDef="closeDate">
                <th mat-header-cell *matHeaderCellDef>Close Date</th>
                <td mat-cell *matCellDef="let element"> {{element.closeDate | date}} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="action-center">Action</th>
                  <td mat-cell *matCellDef="let element" class="action-center"> 
                      <button mat-button color="primary" (click)="editVacancy(element._id)">Edit</button>
                      <button mat-button color="warn" (click)="deleteVacancy(element._id)">Delete</button>
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
        </table> 
    </mat-card>
    <br>
    <mat-divider></mat-divider>
</div>