<div> 
    <br>
    <mat-card>
        <section class="mat-typography">
            <h3 align="center">Edit Vacancy</h3>
        </section>
        <mat-divider></mat-divider>
        <br>
        <div [formGroup]="updateForm" class="edit-form">
            <mat-form-field class="field-full-width">
                <mat-label>Job Id</mat-label>
                <input matInput placeholder="Insert Job Id" formControlName="jobId" #jobId>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <mat-label>Job Title</mat-label>
                <input matInput placeholder="Insert Job Title" formControlName="jobTitle" #jobTitle>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Insert Company" formControlName="company" #company>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <mat-label>State</mat-label>
                <input matInput placeholder="Insert State" formControlName="state" #state>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Close Date</mat-label>
                <input matInput [matDatepicker]="closeDate">
                <mat-datepicker-toggle matSuffix [for]="closeDate"></mat-datepicker-toggle>
                <mat-datepicker #closeDate></mat-datepicker>
              </mat-form-field>
            <mat-divider></mat-divider>
            <br><br>
            <button mat-raised-button color="accent" routerLink="/list">Back</button>
            <button mat-raised-button color="primary" type="submit" (click)="updateVacancy(jobId.value, jobTitle.value, company.value, state.value, closeDate.id)" [disabled]="updateForm.pristine || updateForm.invalid">Save</button>
        </div>
    </mat-card>
</div>

 